div.topHeader {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.topHeader .header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  background-color: var(--sl-color-accent-high);
}

div.site-title-section {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.header div.nav {
  grid-column: 3/6;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.navItem a {
  color: var(--sl-color-accent-low);
}

.right-group {
  grid-column: 6/8;
  grid-row: 1/2;
  justify-content: right;
  margin: 0 1rem;
}

.right-group,
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.social-icons::after {
  content: "";
  height: 2rem;
  border-inline-end: 1px solid var(--spectrum-gray-600);
}

theme-select select#theme-selector {
  width: 15rem;
  max-width: fit-content;
}
