/* Greatly inspired by Ross Angus's work: https://codepen.io/ross-angus/pen/jwxMjL */

/* Global styling */
.ascending-tree,
.ascending-tree ul,
.ascending-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Trunk styling */
.ascending-tree {
  margin: 0 0 1em;
  text-align: center;
}

/* ul styling */
.ascending-tree,
.ascending-tree ul {
  display: table;
}

.ascending-tree ul {
  width: 100%;
}

/* li styling */
.ascending-tree li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: bottom;
}

.ascending-tree li:after {
  outline: solid 1px orange;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.ascending-tree li:first-child:before {
  left: 50%;
}
.ascending-tree li:last-child:before {
  right: 50%;
}

.ascending-tree individual-name {
  border: solid 0.1em green;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  position: relative;
}

/* | */
.ascending-tree ul:before,
.ascending-tree individual-name:before,
.ascending-tree span:before {
  outline: solid 1px blue;
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
}

.ascending-tree ul:before {
  top: -0.5em;
}

.ascending-tree individual-name:before,
.ascending-tree span:before {
  top: -0.55em;
}

/* The root node doesn't connect downwards */
.ascending-tree > li {
  margin-bottom: 0;
}

.ascending-tree > li:before,
.ascending-tree > li:after,
.ascending-tree > li > individual-name::after,
.ascending-tree > li > span::after {
  outline: none;
}
