@import "@spectrum-css/typography";

.cluster {
  color: var(--sl-color-bg);
  fill: var(--sl-color-bg);
}

.node {
  stroke: var(--sl-color-accent-high);
  fill: var(--sl-color-bg);
}

.familyNode.edge {
  stroke: var(--spectrum-purple-400);
  fill: none;
}

.familyNode.father.edge {
  stroke: var(--spectrum-blue-600);
  fill: none;
}

.familyNode.mother.edge {
  stroke: var(--spectrum-red-600);
  fill: none;
}

.familyNode.node {
  stroke: var(--spectrum-purple-600);
  fill: var(--sl-color-bg);
}

.structural.familyNode.edge {
  stroke: var(--spectrum-yellow-900);
  fill: none;
}

.internal.personNode.node {
  stroke: var(--spectrum-orange-700);
  fill: var(--sl-color-bg);
}

.internal.familyNode.node {
  stroke: var(--spectrum-orange-600);
  fill: var(--sl-color-bg);
}

.internal.gp2g {
  stroke: var(--spectrum-orange-500);
  fill: none;
}

.internal.g2f {
  stroke: var(--spectrum-orange-400);
  fill: none;
}

.internal.g2fp {
  stroke: var(--spectrum-orange-400);
  fill: none;
}

.internal.g2f2 {
  stroke: var(--spectrum-orange-300);
  fill: none;
}

.color-male {
  color: var(--color-male);
}

.color-female {
  color: var(--color-female);
}

.svg-container {
  width: 100%;
  height: 100%;
  display: "flex";
}

iconify-icon {
  display: block;
  height: 2em;
}

/* Greatly inspired by Ross Angus's work: https://codepen.io/ross-angus/pen/jwxMjL */

/* Global styling */
.leaf,
.ascending-tree,
.ascending-tree ul,
.leaf li,
.ascending-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 50%; /* Ensure all nodes have equal sizes */
  /* white-space: nowrap; /* Prevent wrapping */
}

/* Trunk styling */
.ascending-tree,
.leaf {
  margin: 0;
  text-align: center;
}

/* ul styling */
.ascending-tree,
.ascending-tree ul {
  display: table;
  width: 100%;
}

/* li styling */
.ascending-tree li,
.leaf li {
  display: table-cell;
  padding: 0;
  vertical-align: bottom;
}

/* Left horizontal bar */
ul > li.ascending-tree > span::before {
  outline: 0.1em solid #bebebe;
  content: "";
  position: absolute;

  bottom: 0.5em;
  left: 50%;
}

/* Right horizontal bar */
.ascending-tree li:last-child::after,
.leaf li:last-child::after {
  outline: 0.1em solid #bebebe;
  content: "";
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: calc(50% + 0.1em); /* Fix artifacts */
}

/* Text box */
.ascending-tree span,
.leaf span {
  border: solid 0.1em #bebebe;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 1em;
  padding: 0.2em 0.5em;
  position: relative;
}

/* Vertical bar */
.ascending-tree span::before,
.ascending-tree span::after,
.leaf span::before,
.leaf span::after {
  outline: solid 0.1em #bebebe;
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
}

/* Top vertical bar */
.ascending-tree span::before {
  top: -0.6em;
}

/* Bottom vertical bar */
.ascending-tree span:after,
.leaf span::after {
  bottom: -0.6em;
}

/* Prune leaves and root */
.ascending-tree span:first-child:before, /* (top) leaves */
.ascending-tree > li > span:after {
  /* (bottom) root */
  outline: none;
}
