@import "@spectrum-css/typography";

:host {
  --color-male: var(--spectrum-green-900);
  --color-female: var(--spectrum-purple-900);
  --timeline-height: 47vh;
}

gramps-individual {
  height: calc(var(--timeline-height) + 20vh);
  display: block;
}
div {
  height: 100%;
}
.CardContainer {
  width: 100%;
  height: 25%;

  border: 2px solid var(--spectrum-blue-400);
  border-radius: 4px;
  display: grid;

  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 2rem);
  grid-auto-rows: 2rem;
  grid-auto-flow: dense;
  align-content: center;
  align-items: center;
}

.CardContainer .CardAsset {
  grid-column: 1/2;
  grid-row: 1/-3;
  align-content: center;
  height: 100%;
}

.CardContainer .CardAsset iconify-icon {
  display: block;
  height: 100%;
}

.CardContainer .CardBody {
  grid-column: 2/-1;
  grid-row: 1/-1;
  border: 2px 0 0;
  height: 100%;
  display: grid;
  grid-template: subgrid/subgrid;

  overflow: clip;
}
div > div.CardContainer > div.CardBody > div.Card-header {
  grid-column: 1/5;
  grid-row: 1/3;
}

div > div.CardContainer > div.CardBody > div.Card-content {
  grid-column: 1/-1;
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: clip;
  --mod-heading-margin-start: 0px;
}
div > div.CardContainer > div.CardBody > div.Card-description {
  grid-column: 1/3;
  grid-row: 3/-1;
}

div > div.CardContainer > div.CardBody > div.Card-Extra {
  grid-column: 3/-1;
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: pretty;
}

div > div.CardContainer > div.CardBody > div.Card-Extra ul.bio,
div > div.CardContainer > div.CardBody > div.Card-Extra ul,
div > div.CardContainer > div.CardBody ul {
  margin: 0 0 0 1em;
  padding-inline-start: 10px;
}

div.FamilyListing ul.familylisting {
  margin: 0 0 0 -20px;
}

.color-male {
  color: var(--color-male);
}

.color-female {
  color: var(--color-female);
}

ul.bio {
  padding-left: 2rem;
}

.TimelineCard {
  margin: 1px 0;
  width: 100%;
  height: calc(var(--timeline-height) +2em);
  border-style: solid;
  border-color: var(--spectrum-blue-400);
  border-radius: 4px;
  z-index: 1;
}

div > div.TimelineCard > ancestors-tree {
  display: block;
  width: minmax(fit-content, 50vw);
  height: var(--timeline-height);
}

p.spectrum-Body.spectrum-Body--sizeXXS {
  margin: 0.1px 0.1px;
  margin-block: 0.1px;
}
