.site-title {
  align-items: center;
  font-weight: 600;
  color: var(--sl-color-text-accent);
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
img {
  max-height: var(--spectrum-heading-font-size);
  padding-bottom: 5px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.siteTitle {
  /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
  overflow: clip;
  /* Avoid clipping focus ring around link inside title wrapper. */
  padding: 0.25rem;
  margin: -0.25rem;
}
