---
import { type CollectionEntry, getCollection } from "astro:content";

const grampsEntries: CollectionEntry<"events">[] =
  await getCollection("events");
---

{
  grampsEntries && grampsEntries.length > 0 ? (
    <ol>
      {grampsEntries.map((e) => (
        <li>
          <dl>
            <dt>{e.id}</dt>
            <dd>{e.data.handle}</dd>
            <dd>{e.data.type.string}</dd>
            <dd>
              {e.data.date ? (e.data.date.text ? e.data.date.text : "") : ""}
            </dd>
            <dd>{JSON.stringify(e.data)}</dd>
          </dl>
        </li>
      ))}
    </ol>
  ) : (
    <span>no gramps entries found</span>
  )
}
